html, body
{
    height:100%;
    background: #f0f0f0;
}

.invalid
{
    color: #ff9966;
}
.glyphicon.disabled
{
    opacity: 0.5;
}
.dropdown-toggle
{
    cursor: pointer;
}
.dropdown-menu li
{
    cursor: pointer;
}

.properties table tr
{
    cursor:pointer;
}
.properties table tr.derived
{
    background: #ffeecc;
}
.properties table tr.derived .glyphicon
{
    display: none;
}
.properties table tr td:last-child
{
    text-align: right;
}
.properties table tr:hover td
{
    background: #337ab7;
    color: #ffffff;
}

.panel .panel-heading .glyphicon
{
    position: absolute;
    right: 24px;
    top:12px;
}

.main
{
    height:100%;
    padding: 0px;
}
.main .navbar
{
    background: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    padding: 0px 15px;
    height: 60px;
}
.main .navbar .search
{
    position: relative;
    margin-bottom: 0px;
}
.main .navbar .search input
{
    padding-right: 30px;
}
.main .navbar .search i
{
    top: 22px;
    right: 10px;
    color: #6c6c6c;
    position: absolute;
    font-size: 16px;
}

.main .side-bar
{
    height: 100%;
    width: 300px;
}
.main .side-bar md-card
{
    margin: 8px 0px;
}
.main .side-bar .link
{
    background: #f0f0ff;
}
.main .side-bar .base
{
    background: #fffaf0;
}
.main .side-bar .entity
{
    background: #f0fff0;
}
.main .side-bar .common
{
    
}
.main .side-bar .list-group-item
{
    cursor: pointer;
}
.main .side-bar .list-group-item a
{
    color:#000000;
}
.main .side-bar .list-group-item.active
{
    background: #337ab7;
}
.main .side-bar .list-group-item.active a
{
    color:#000000;
}
.main .side-bar .icons
{
    position: absolute;
    right: 8px;
    top: 14px;
}
.main .side-bar .icons .glyphicon
{
    cursor: pointer;
}

.side-bar md-list .md-subheader
{
    margin-left: -8px;
}

.main .main-content
{
    position:absolute;
    top:70px;
    bottom:40px;
    left:0px;
    right:0px;
    padding: 0px 15px;
}
.main .main-content > .panel
{
    height: 100%;
}

.main .tool-bar
{
    position:absolute;
    height: 60px;
    bottom:60px;
    left:0px;
    right:0px;
}

.main footer
{
    position:absolute;
    height: 40px;
    bottom:0px;
    left:0px;
    right:0px;
}

.property-table
{}
.property-table .row
{
    padding: 0px 10px;
}

.property-table-body
{}
.property-table-body .row
{
    cursor: pointer;
}
.property-table-body .row.base
{
    background: #ffeecc;
}
.property-table-body .row:hover
{
    background: #d9edf7;
}
.property-table-body .row div
{
    padding: 5px;
    text-align: left;
}
.property-table-body .actions
{
    text-align: right;
}
.property-table-header
{
    font-weight: bold;
    background: #d9edf7;
    border: 1px solid #bce8f1;
    border-radius: 3px 3px 0px 0px;
}
.property-table-header div
{
    padding: 8px 5px;   
    text-align: left;
}

md-card
{
    overflow: hidden;
    background: #ffffff;
}
md-list .md-subheader
{
    background: #ffffff;
}
.property-edit-panel
{
    position: absolute;
    top: 0px;
    width:100%;
    bottom: 0px;
    background: #ffffff;
    margin: 0px;
}
.property-edit-panel .column
{
    padding: 0px 5px;
}
.property-edit-panel md-card-content
{
    padding-top: 16px;
}
.property-edit-panel md-switch
{
    margin-top: 0px;
}
.property-edit-panel .property-toggle,
.property-edit-panel .property-toggle md-input-container
{
    width:170px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@keyframes slideIn { from { left:-100%; } to { left:0%; } }
@keyframes slideOut { from { left:0%; } to { left:-100%; } }

.slide-out
{
    left: 0%;

    animation:slideIn ease-in 1;
    -moz-animation:slideIn ease-in 1;
    -webkit-animation:slideIn ease-in 1;  
    

    animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards; 

    animation-duration:.5s;      
    -moz-animation-duration:.5s;
    -webkit-animation-duration:.5s;
}

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.animated
{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
md-list-item.selected div span
{
   font-weight: 800;
}

md-card md-card-title
{
    color: #ffffff;
    background: #337ab7;
    padding: 16px;
    position: relative;
    height: 50px;
    flex:none;
}
md-card md-card-title .md-icon-button
{
    position: absolute;
    right: 0px;
    top: 8px;
}

.side-bar md-card-title i
{
    cursor: pointer;
}
md-card-content
{
    overflow: hidden;
    overflow-y: auto; 
}

md-card
{
    position: relative;
}

.table
{
    margin-bottom: 0px;
}
.table .table-row
{
    height: 30px;   
    border: 1px solid #e0e0e0;
    border-width: 0px 0px 1px 0px;
}
.table .table-row div
{
    padding: 5px;
}
.table .table-row button
{
    position: relative;
    top: -10px;
}
.table .table-header
{
    font-weight: bold;
    height: 30px;
}
.table .table-body
{
    overflow-y: auto;
}



.slide-in
{
    left: 0%;
}

.slide-in.ng-hide {
  left: -100%;
}
.fade-in
{
    opacity: 1;
}
.fade-in.ng-hide
{
    opacity: 0;
}

.enumerations 
{}
.enumerations md-card-actions md-input-container
{
    height: 30px;
    position: relative;
    bottom: -3px;
    margin:0px;
}

md-divider .vertical
{
  border-top-width: 0;
  border-right-width: 2px;
  border-right-style: solid;
  height: 100%;
}

md-tabs
{}
md-tabs md-ink-bar
{
    display: none;
}
md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-active, 
{
    color: rgb(57,73,171);
    background: #ffffff;
}