html, body
{
    height:100%;
}

.invalid
{
    color: #ff9966;
}
.glyphicon.disabled
{
    opacity: 0.5;
}
.dropdown-toggle
{
    cursor: pointer;
}
.dropdown-menu li
{
    cursor: pointer;
}

.properties table tr
{
    cursor:pointer;
}
.properties table tr.derived
{
    background: #ffeecc;
}
.properties table tr.derived .glyphicon
{
    display: none;
}
.properties table tr td:last-child
{
    text-align: right;
}
.properties table tr:hover td
{
    background: #337ab7;
    color: #ffffff;
}

.panel .panel-heading .glyphicon
{
    position: absolute;
    right: 24px;
    top:12px;
}

.main
{
    height:100%;
    padding: 0px;
}
.main .navbar
{
    background: #f3f3f3;
    border-bottom: 1px solid #e0e0e0;
}
.main .top-bar input
{
    padding-right: 30px;
}
.main .top-bar .glyphicon-search
{
    top: 10px;
    right: 24px;
    color: #6c6c6c;
    position: absolute;
}

.main .side-bar
{
    
}
.main .side-bar .list-group-item
{
    cursor: pointer;
}
.main .side-bar .list-group-item a
{
    color:#000000;
}
.main .side-bar .list-group-item.active a
{
    color:#000000;
}

.main .side-bar .icons
{
    position: absolute;
    right: 8px;
    top: 14px;
}
.main .side-bar .icons .glyphicon
{
    cursor: pointer;
}

.main .main-content
{
    position:absolute;
    top:120px;
    bottom:120px;
    left:0px;
    right:0px;
}
.main .main-content > .panel
{
    height: 100%;
}

.main .tool-bar
{
    position:absolute;
    height: 60px;
    bottom:60px;
    left:0px;
    right:0px;
}

.main footer
{
    position:absolute;
    height: 40px;
    bottom:0px;
    left:0px;
    right:0px;
}
